.chiTiet_mainContainer {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.imgArea {
    width: 65%;
}

.img_choose {
    width: 100%;
}

.img_choose_item {
    cursor: pointer;
    width: 49.9%;
    margin-top: 2px;
}

.img_main {
    width: 100%;
}

.img_main img {
    width: 100%;
    height: 100%;
}

.operation {
    position: sticky;
    top: 80px;
    height: 100%;
}

.operation a {
    text-decoration: none;
}



.operation .name {
    font-size: 30px;
}

.operation .price {
    font-size: 25px;
    margin-top: 10px;
}



.operation .sizeArea {
    margin-top: 30px;
    display: flex;
}

.operation .sizeArea span {
    line-height: 35px;
    font-size: 15px;
    font-weight: 500;
}

.size_options {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
    width: 52px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.addtoCart {
    margin-top: 40px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 15px;
    background-color: black;
    color: white;
    font-family: var(--main-font);
    transition: all linear 0.3s;
    position: relative;
}

.addtoCart:hover {
    color: gray;
}

.cart i {
    font-size: 25px;
    padding-left: 10px;
}

.addtoCart_action {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    top: 4px;
    left: 4px;
}