:root {
  --main-font: "Open Sans", sans-serif;
  --main-color: #58b3f0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  transform: scale(0.6);
}

.grid {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.suspense-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiAccordion-root {
  border: 1px solid black;
}

@media (min-width: 768px) {
  .grid {
    max-width: 768px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(1);
  }
}

@media (min-width: 1140px) {
  .grid {
    max-width: 1140px;
  }
}
