.navigation {
  height: 50px;
  width: 100%;
  margin-top: 65px;
}

.navigation ul {
  height: 50px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.item {
  cursor: pointer;
  list-style-type: none;
  display: block;
  line-height: 50px;
  font-weight: 600;
  font-size: 15px;
  transition: all linear 0.2s;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 3px;
}

.item:hover {
  border-bottom-color: var(--main-color);
}

.item a {
  text-decoration: none;
  color: black;
  transition: all linear 0.2s;
  font-family: var(--main-font);
}