.overlay_container {
  position: fixed;
  top: 65px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.main_container {
  padding: 15px 30px;
  position: absolute;
  width: 400px;
  border-radius: 25px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101;
  background-color: white;
  padding-bottom: 50px;
  overflow-y: auto;
}

.exit {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 25px;
  font-size: 23px;
  font-weight: 500;
}

.exit:hover {
  color: var(--main-color);
}
